Repository TGSAI/segy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix `repository-url` because old one got removed
  .github/workflows/release.yaml
Due: check-yaml

Update GitHub workflows: replace `pyproject-file` with `version-file`
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: check-yaml

Update workflow to use GITHUB_OUTPUT for setting action outputs
  .github/workflows/tests.yaml
Due: check-yaml

Add `os` module import in GitHub Actions test script
  .github/workflows/tests.yaml
Due: check-yaml

Fix more CI warnings (#309)
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: check-yaml

release `0.5.2`
  pyproject.toml
  uv.lock
Due: check-toml

Refactor `SegySpec` to enforce non-null SEG-Y standard and replace `None` with `CUSTOM` where applicable.
  src/segy/factory.py
  src/segy/schema/segy.py
  src/segy/standards/minimal.py
  tests/test_schema_segy.py
Due: none

Enforce non-null SEG-Y standard in test configurations and handle custom SEG-Y revision values.
  tests/test_segy_factory.py
Due: none

Fix `CUSTOM` value in `SegyStandard` enum to explicitly use float for consistency.
  src/segy/schema/segy.py
Due: none

Refactor `SegySpec` to enforce non-null SEG-Y standard (#311)
  src/segy/factory.py
  src/segy/schema/segy.py
  src/segy/standards/minimal.py
  tests/test_schema_segy.py
  tests/test_segy_factory.py
Due: none

release `0.5.3`
  pyproject.toml
  uv.lock
Due: check-toml

Bump dependencies
  .github/workflows/constraints.txt
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Ensure clean environment for coverage data
  noxfile.py
Due: none

Bump dependencies (#333)
  .github/workflows/constraints.txt
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  docs/requirements.txt
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Patch regression for `fsspec=2026.1.0`
  src/segy/indexing.py
Due: none

Ignore mypy issues
  src/segy/indexing.py
Due: none

Remove patched function from coverage report
  src/segy/indexing.py
Due: none

Don't codecov test the patched portion
  src/segy/indexing.py
Due: none

Patch regression for `fsspec=2026.2.0` (#344)
  src/segy/indexing.py
Due: none

Ensure clean environment for coverage data
  uv.lock
Due: none

Bump dependencies (#345)
  uv.lock
Due: none

Bump patch version
  pyproject.toml
Due: check-toml

Bump patch to 0.5.4 (#347)
  pyproject.toml
Due: check-toml

Encode ibm32 header fields on write
  src/segy/factory.py
  tests/test_segy_factory.py
Due: none

Reuse _modify_dtype_field for ibm32 header template
  src/segy/factory.py
Due: none

Encode ibm32 header fields on write (#376)
  src/segy/factory.py
  tests/test_segy_factory.py
Due: none

Bump minor version
  pyproject.toml
  uv.lock
Due: check-toml

Release 0.6 (#377)
  pyproject.toml
  uv.lock
Due: check-toml

Infer textual header encoding on open when unset.
  src/segy/file.py
  src/segy/inference.py
  src/segy/schema/text_header.py
  src/segy/standards/minimal.py
  src/segy/standards/spec.py
  tests/test_inference.py
  tests/test_schema_text_header.py
  tests/test_segy_file.py
Due: none

Cover text-header layout validation branches for patch coverage.
  tests/test_inference.py
Due: none

Map NUL to space in decoded text header so mdio mode 1 accepts ASCII padding.
  src/segy/schema/text_header.py
  tests/test_inference.py
Due: none

Infer text header encoding only when INFERRED.
  docs/data_models/file.md
  src/segy/factory.py
  src/segy/file.py
  src/segy/inference.py
  src/segy/schema/format.py
  src/segy/schema/segy.py
  src/segy/schema/text_header.py
  src/segy/standards/spec.py
  tests/test_inference.py
  tests/test_schema_text_header.py
  tests/test_segy_factory.py
  tests/test_segy_file.py
Due: none

Infer textual header encoding on open when unset (#378)
  docs/data_models/file.md
  src/segy/factory.py
  src/segy/file.py
  src/segy/inference.py
  src/segy/schema/format.py
  src/segy/schema/segy.py
  src/segy/schema/text_header.py
  src/segy/standards/minimal.py
  src/segy/standards/spec.py
  tests/test_inference.py
  tests/test_schema_text_header.py
  tests/test_segy_factory.py
  tests/test_segy_file.py
Due: none

Bump version to 0.6.1
  pyproject.toml
  uv.lock
Due: check-toml

Remove fsspec 2026.2 merge_offset_ranges patch
  pyproject.toml
  src/segy/indexing.py
  uv.lock
Due: check-toml

Point CLI tests and docs at Soda Lake SEG-Y
  docs/cli_usage.md
  docs/tutorials/quickstart.ipynb
  tests/test_cli.py
Due: none

Format Soda Lake sample docs
  docs/cli_usage.md
  docs/tutorials/quickstart.ipynb
Due: none

Update sample data. (#380)
  docs/cli_usage.md
  docs/tutorials/quickstart.ipynb
  tests/test_cli.py
Due: none

Remove fsspec 2026.2 merge_offset_ranges patch (#379)
  pyproject.toml
  src/segy/indexing.py
  uv.lock
Due: check-toml

Bump dependencies
  .github/workflows/constraints.txt
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  docs/requirements.txt
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
