Repository TGSAI/segy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

regen lock file
  poetry.lock
Due: none

Update Python requirement to >=3.10.
  .github/workflows/tests.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Upgrade Poetry to 2.0 and transition to PEP 621 metadata. (#262)
  .github/workflows/constraints-poetry.txt
  .github/workflows/tests.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Correct repository URL in pyproject.toml
  pyproject.toml
Due: check-toml

Update dependency version syntax in minimum only deps.
  pyproject.toml
Due: check-toml

update lockfile
  poetry.lock
Due: none

Fix project metadata (#263)
  poetry.lock
  pyproject.toml
Due: check-toml

release `0.3.1`
  pyproject.toml
Due: check-toml

Update dependency version syntax in minimum only deps.
  poetry.lock
Due: none

rebuild lock file
  poetry.lock
Due: none

Ignore Poetry directory in .gitignore
  .gitignore
Due: none

Add Python 3.13 to CI test matrix
  .github/workflows/tests.yaml
Due: check-yaml

Update to Python 3.13 across CI workflows and configurations
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  noxfile.py
Due: check-yaml

Update `llvmlite` and `numba` to new release candidates.
  poetry.lock
  pyproject.toml
Due: check-toml

Allow py3.13
  poetry.lock
  pyproject.toml
Due: check-toml

Update myst-nb dependency to version 1.1.2
  pyproject.toml
Due: check-toml

allow numba pre-release
  poetry.lock
  pyproject.toml
Due: check-toml

Update numba version constraint to released version in dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Python 3.13 Support (#246)
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .gitignore
  .readthedocs.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

update ci poetry/nox deps
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
Due: none

update ci poetry/nox deps (#264)
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
Due: none

bump major version
  pyproject.toml
Due: check-toml

Upgrade dev and workflow dependencies
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Upgrade dev and workflow dependencies
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_arrays.py
  tests/test_cli.py
  tests/test_ibm_float.py
  tests/test_transforms.py
Due: check-toml, check-yaml

Update coverage exclude list in pyproject.toml
  pyproject.toml
Due: check-toml

Refactor type casting syntax and extend docstrings with attributes
  src/segy/__init__.py
  src/segy/cli/dump.py
  src/segy/factory.py
  src/segy/file.py
  src/segy/indexing.py
  src/segy/inference.py
  src/segy/schema/base.py
  src/segy/transforms.py
Due: none

Add type annotations for ieee2ibm_single and ibm2ieee_single
  src/segy/ibm.py
Due: none

Add typeguard_ignore decorator for safety.
  src/segy/ibm.py
Due: none

Update development and CI workflow dependencies (#281)
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
  src/segy/__init__.py
  src/segy/cli/dump.py
  src/segy/factory.py
  src/segy/file.py
  src/segy/ibm.py
  src/segy/indexing.py
  src/segy/inference.py
  src/segy/schema/base.py
  src/segy/transforms.py
  tests/test_arrays.py
  tests/test_cli.py
  tests/test_ibm_float.py
  tests/test_transforms.py
Due: check-toml, check-yaml

initial uv lockfile
  uv.lock
Due: none

Remove .poetry/ from .gitignore
  .gitignore
Due: none

Refactor imports and enhance zip usage with strict=False
  src/segy/arrays.py
Due: none

Refactor typing annotations for py3.10+
  src/segy/cli/common.py
Due: none

remove poetry from actions req. add uv and bumpversion
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
Due: none

move collections.abc.Callable to type checking block
  src/segy/ibm.py
Due: none

Enhance zip call with strict mode in duplicate handling
  src/segy/indexing.py
Due: none

Remove poetry.lock file from the repository
  poetry.lock
Due: none

Switch from nox-poetry to nox with uv backend
  noxfile.py
Due: none

Refactor project configuration and migrate to setuptools.
  pyproject.toml
Due: check-toml

Update release workflow to use uv and bump-my-version
  .github/workflows/release.yaml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
