Repository TGSAI/segy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]

  # should be replaced in the future ref https://github.com/astral-sh/ruff/issues/458
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.4.1
    hooks:
      - id: pydoclint

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

Use module-level logger in transforms.py
  src/segy/transforms.py
Due: none

Implement logging for SegyFile (#228)
  pyproject.toml
  src/segy/accessors.py
  src/segy/exceptions.py
  src/segy/factory.py
  src/segy/file.py
  src/segy/indexing.py
  src/segy/standards/registry.py
  src/segy/transforms.py
  tests/test_segy_file.py
Due: check-toml

Revert "Bump crazy-max/ghaction-github-labeler from 5.0.0 to 5.1.0 (#205)"
  .github/workflows/labeler.yaml
Due: check-yaml

Revert "Bump crazy-max/ghaction-github-labeler from 5.0.0 to 5.1.0 (#205)" (#229)
  .github/workflows/labeler.yaml
Due: check-yaml

write byte order code in rev2+
  src/segy/factory.py
Due: none

write byte order code in rev2+ (#230)
  src/segy/factory.py
Due: none

update features in readme
  README.md
Due: none

proactive fix for pre-commit deprecations
  .pre-commit-config.yaml
Due: check-yaml

Update features in readme (#231)
  .pre-commit-config.yaml
  README.md
Due: check-yaml

Add support for SEG-Y Rev2.1 specification
  src/segy/standards/__init__.py
  src/segy/standards/fields/binary.py
  src/segy/standards/spec.py
  tests/test_segy_file.py
Due: none

Add support for SEG-Y Rev2.1 specification
  README.md
Due: none

Add SEG-Y Revision 2.1 to supported formats (#232)
  README.md
  src/segy/standards/__init__.py
  src/segy/standards/fields/binary.py
  src/segy/standards/spec.py
  tests/test_segy_file.py
Due: none

Update field names in CLI usage documentation
  docs/cli_usage.md
Due: none

Update field names in CLI usage documentation (#233)
  docs/cli_usage.md
Due: none

Refactor quickstart tutorial notebook
  docs/tutorials/creation.ipynb
  docs/tutorials/quickstart.ipynb
Due: none

Refactor quickstart tutorial notebook (#234)
  docs/tutorials/creation.ipynb
  docs/tutorials/quickstart.ipynb
Due: none

Support duplicate indices in fetch method
  src/segy/indexing.py
Due: none

Add test for random access with duplicate indices
  tests/test_segy_file.py
Due: none

remove unnecessary sort
  docs/tutorials/quickstart.ipynb
Due: none

Fix indexing issues when duplicate indices are present. (#235)
  docs/tutorials/quickstart.ipynb
  src/segy/indexing.py
  tests/test_segy_file.py
Due: none

bump minor version
  pyproject.toml
Due: check-toml

downgrade labeler due to breaking changes
  .github/workflows/labeler.yaml
Due: check-yaml

downgrade labeler due to breaking changes (#250)
  .github/workflows/labeler.yaml
Due: check-yaml

fix labeler version
  .github/workflows/labeler.yaml
Due: check-yaml

Update labeler.yaml
  .github/workflows/labeler.yaml
Due: check-yaml

Update poetry.lock file
  poetry.lock
Due: none

Update myst-nb dependency to version 1.1.2
  pyproject.toml
Due: check-toml

Update to Python 3.13 across CI workflows and configurations
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .readthedocs.yaml
  noxfile.py
Due: check-yaml

Pyton 3.13 and update dependencies in pyproject.toml to latest versions
  poetry.lock
  pyproject.toml
Due: check-toml

Update fsspec, gcsfs, s3fs, and adlfs dependency minimums
  poetry.lock
  pyproject.toml
Due: check-toml

make numba minimum to support numpy 2+
  poetry.lock
  pyproject.toml
Due: check-toml

Refactor SEG-Y inference utilities into a separate module
  src/segy/file.py
  src/segy/inference.py
Due: none

Update SEGY revision key to use major version from Rev2
  src/segy/alias/segyio.py
Due: none

Normalize SEG-Y revision handling in binary header parsing.
  src/segy/transforms.py
  tests/test_segy_file.py
  tests/test_transforms.py
Due: none

Fix revision check to correctly handle SEGY Rev2 standards
  src/segy/transforms.py
Due: none

Add type ignore comment to suppress mypy error
  src/segy/transforms.py
Due: none

Improve Revision Transformation (#261)
  src/segy/alias/segyio.py
  src/segy/file.py
  src/segy/inference.py
  src/segy/transforms.py
  tests/test_segy_file.py
  tests/test_transforms.py
Due: none

Upgrade Poetry to 2.0 and transition to PEP 621 metadata.
  .github/workflows/constraints-poetry.txt
  poetry.lock
  pyproject.toml
Due: check-toml

Add poetry-plugin-export to Poetry installation steps in CI.
  .github/workflows/tests.yaml
Due: check-yaml

remove urllib3 workaround
  poetry.lock
  pyproject.toml
Due: check-toml
