Repository TGSAI/segy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]

  # should be replaced in the future ref https://github.com/astral-sh/ruff/issues/458
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.4.1
    hooks:
      - id: pydoclint

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

Update workflows to replace pipx with uv for package management
  .github/workflows/tests.yaml
Due: check-yaml

Use `strict=True` in `zip` calls across tests.
  tests/test_accessors.py
  tests/test_indexing.py
  tests/test_schema_data_type.py
Due: none

Update CI workflow to include shell environment update
  .github/workflows/tests.yaml
Due: check-yaml

use official uv setup action
  .github/workflows/tests.yaml
Due: check-yaml

use official uv setup action
  .github/workflows/constraints.txt
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  pyproject.toml
Due: check-toml, check-yaml

Migrate from Poetry to `uv` (#283)
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .gitignore
  noxfile.py
  poetry.lock
  pyproject.toml
  src/segy/arrays.py
  src/segy/cli/common.py
  src/segy/ibm.py
  src/segy/indexing.py
  tests/test_accessors.py
  tests/test_indexing.py
  tests/test_schema_data_type.py
  uv.lock
Due: check-toml, check-yaml

use correct bumpver version
  .github/workflows/constraints.txt
Due: none

rename latest to pinned version for uv in ci
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: check-yaml

Use correct bumpver version in CI/CD (#284)
  .github/workflows/constraints.txt
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: check-yaml

Update pre-commit configuration with local Ruff integration
  .pre-commit-config.yaml
Due: check-yaml

Add missing dev/doc dependencies to pyproject.toml
  pyproject.toml
  uv.lock
Due: check-toml

Refactor noxfile to use `uv` for dependency management.
  noxfile.py
Due: none

Simplify package installation in noxfile.py
  noxfile.py
Due: none

Switch from Poetry to UV for development setup documentation.
  CONTRIBUTING.md
Due: none

Update Python version badge link in README.md
  README.md
Due: none

Set session.run_install to silent mode in noxfile.py
  noxfile.py
Due: none

debug
  pyproject.toml
Due: check-toml

Use locked dependencies in Nox sessions (#285)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

bump patch version
  pyproject.toml
Due: check-toml

Fix extraction of sample format value from binary header
  src/segy/file.py
Due: none

Fix extraction of sample format value from binary header (#286)
  src/segy/file.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: check-toml

Update project classifiers in pyproject.toml
  pyproject.toml
Due: check-toml

Remove deprecated license classifier from pyproject.toml
  pyproject.toml
Due: check-toml

Update license format in pyproject.toml
  pyproject.toml
Due: check-toml

release 0.4.1.post2
  pyproject.toml
Due: check-toml

update set-output to GITHUB_OUTPUT
  .github/workflows/release.yaml
Due: check-yaml

Add endianless byte tests and docs
  docs/data_models/data_type.md
  src/segy/schema/format.py
  tests/test_schema_data_type.py
Due: none

Update uv required-version constraint in pyproject.toml
  pyproject.toml
Due: check-toml

update lockfile
  uv.lock
Due: none

add safe pickling support to segy file by implementing __getstate__ and __setstate__
  src/segy/file.py
Due: none

Update typer version
  pyproject.toml
  uv.lock
Due: check-toml

Remove deprecated lint ignore rule `ANN101`
  pyproject.toml
Due: check-toml

fix mypy and ruff complaints
  src/segy/arrays.py
  src/segy/file.py
  src/segy/indexing.py
Due: none

Add `noqa` comments for lazy imports to suppress `ruff` warnings
  src/segy/cli/dump.py
  src/segy/transforms.py
Due: none

Drop Python 3.10 support
  .github/workflows/tests.yaml
  pyproject.toml
  src/segy/compat.py
  src/segy/schema/base.py
  src/segy/schema/format.py
  uv.lock
Due: check-toml, check-yaml

Replace `timezone.utc` with `UTC` in segy factory
  src/segy/factory.py
Due: none

Fix `__setstate__` to use `self.__init__` instead of `SegyFile.__init__`
  src/segy/file.py
Due: none

Remove `__getstate__` and `__setstate__` methods from `SegyFile`
  src/segy/file.py
Due: none

Allow safer passing of `SegyFile` between processes (#293)
  .github/workflows/tests.yaml
  pyproject.toml
  src/segy/arrays.py
  src/segy/cli/dump.py
  src/segy/compat.py
  src/segy/factory.py
  src/segy/file.py
  src/segy/indexing.py
  src/segy/schema/base.py
  src/segy/schema/format.py
  src/segy/transforms.py
  uv.lock
Due: check-toml, check-yaml
