Repository TGSAI/segy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff-format
        types_or: [python, pyi, jupyter]
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]

  # should be replaced in the future ref https://github.com/astral-sh/ruff/issues/458
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.4.1
    hooks:
      - id: pydoclint

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

bundle license with source tarball (#297)
  pyproject.toml
  uv.lock
Due: check-toml

release build fix
  pyproject.toml
  uv.lock
Due: check-toml

update typer
  pyproject.toml
  uv.lock
Due: check-toml

add upper limit for typer
  pyproject.toml
  uv.lock
Due: check-toml

fix mypy errors
  src/segy/arrays.py
  src/segy/indexing.py
Due: none

remove deprecated numpy mypy plugin
  pyproject.toml
  uv.lock
Due: check-toml

Update `typer` to latest to resolve dependency issues with `rich` that failed CLI. (#298)
  pyproject.toml
  src/segy/arrays.py
  src/segy/indexing.py
  uv.lock
Due: check-toml

update set-output to GITHUB_OUTPUT
  .github/workflows/release.yaml
Due: check-yaml

factor out query normalization and validation
  src/segy/indexing.py
Due: none

expose raw buffer as numpy array if needed
  src/segy/indexing.py
Due: none

make query check func public
  src/segy/indexing.py
Due: none

handle edge case where array may be void
  src/segy/arrays.py
Due: none

add raw tests
  tests/test_segy_file.py
Due: none

remove duplicate buffer entry
  tests/test_segy_file.py
Due: none

fix variable type overwrite
  tests/test_segy_file.py
Due: none

type ignore known not-None
  tests/test_segy_file.py
Due: none

remove mypy hacks
  src/segy/arrays.py
  tests/test_segy_file.py
Due: none

make checks more solid
  src/segy/arrays.py
Due: none

ignore known edge case that should never happen
  src/segy/arrays.py
Due: none

Add a flag to request raw bytes in data indexers (#299)
  src/segy/arrays.py
  src/segy/indexing.py
  tests/test_segy_file.py
Due: none

release 0.5.1
  pyproject.toml
  uv.lock
Due: check-toml

update bump-my-version on ci/cd
  .github/workflows/constraints.txt
Due: none

post release after ci/cd release fix
  pyproject.toml
  uv.lock
Due: check-toml

Update requirements.txt
  docs/requirements.txt
Due: none

Update `set_settings_overrides_env_vars` docstring for clarity
  tests/test_segy_file.py
Due: none

Add `header_overrides` parameter to SEG-Y file initialization
  src/segy/file.py
Due: none

Add test for SEGY settings and header overrides with environment variables
  tests/test_segy_file.py
Due: none

Update API reference to reflect renamed configuration classes
  docs/api_reference.md
Due: none

Update SEG-Y header parsing config docstring
  src/segy/config.py
Due: none

fix documentation for settings/overrides
  docs/settings.md
Due: none

Refactor: inline `model_config` dictionary formatting in `SegyBaseSettings`.
  src/segy/config.py
Due: none

Remove unused import and update type hint in test fixture.
  tests/test_segy_file.py
Due: none

update docs deps in pyproject.toml to match ci/cd
  pyproject.toml
Due: check-toml

update class name
  docs/settings.md
Due: none

Apply suggestion from @BrianMichell
  src/segy/file.py
Due: none

Refactor settings to support header overrides and improve SEG-Y file parsing
  docs/tutorials/quickstart.ipynb
  src/segy/accessors.py
  src/segy/config.py
  src/segy/file.py
  src/segy/inference.py
  src/segy/transforms.py
  tests/test_cli.py
  tests/test_segy_file.py
Due: none

Update docs to reflect recent settings refactor and environment variable changes.
  docs/cli_usage.md
  docs/settings.md
Due: none

Add more flexible header overrides (#308)
  docs/api_reference.md
  docs/cli_usage.md
  docs/settings.md
  docs/tutorials/quickstart.ipynb
  pyproject.toml
  src/segy/accessors.py
  src/segy/config.py
  src/segy/file.py
  src/segy/inference.py
  src/segy/transforms.py
  tests/test_cli.py
  tests/test_segy_file.py
Due: check-toml

update set-output to GITHUB_OUTPUT (#287)
  .github/workflows/release.yaml
Due: check-yaml
